<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="DBRealEstateAgencyConnect" connectionString="Data Source=DESKTOP-GTIQOOS;Initial Catalog=RealEstateAgencyDB;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="RealEstateAgency.Properties.Settings.DBConnect" connectionString="Data Source=DESKTOP-GTIQOOS;Initial Catalog=RealEstateAgencyDB;Integrated Security=True" />
  </connectionStrings>
</configuration>